/* Outdated CSS */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #2f4f4f;

}

h1 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}



.container {
    display: flex;
}

.sidebar {
    background-color: #253b3b;
    color: rgb(0, 0, 0);
    width: 20%;
    padding: 10px;
}

.sidebar ul {
    padding: 0;
    list-style-type: none;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    background-color: peru;
    color: white;
    padding:10px 15px;
    display: block;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.sidebar ul li a:hover {
    background-color: darkorange;
}



.content {
    width: 80%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.content div {
    flex: 1; 
    padding: 10px;
    border: 1px solid #cccccc;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
}

.content img {
    width: 100%;
    height: auto;
}

.content h2, .content p {
    background-color: rgba (255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1)
}

footer {
    background-color: darkolivegreen;
    text-align: center;
    padding: 10px;
    color: white;
}
